<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Compatiblity Test</title>
  </head>

  <body>
    <h1>Are you compatible?</h1>
    <img src=https://media.giphy.com/media/26BRv0ThflsHCqDrG/giphy.gif>

    <!-- Insert Your Form Below -->

<form method="POST" action="/cupid">
  <p>Your Name: <input type="text" name= "name">
  </p>
  <p>Their Name: <input type="text" name= "other_name"></p>
  <input type="submit">
  
</form>

  </body>
</html>
